{% extends 'notekeeper/base.html' %}

{% block title %}My notes - {{ block.super }}{% endblock %}

{% block content %}
    {% if latest_note_list %}
    <ul>
    {% for note in latest_note_list %}
        <li><a href="{% url 'notekeeper:note_details' note.id %}">{{ note.header }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Sorry Mario notes are in another castle.</p>
{% endif %}

    <form method="post" action="{% url 'notekeeper:create_note' %}" >
        {% csrf_token %}
        <input type="hidden" name="note_id" value="{{ note.id }}">
        <button type="submit">NEW NOTE</button>
    </form>
{% endblock content %}