{% extends 'notekeeper/base.html' %}

{% block title %} Note #{{note.id}} - {{ block.super }}{% endblock %}

{% block content %}

    <h1>{{ note.header }}</h1>
    <p>{{ note.body | safe }}</p>
    <div>
        <span>Is favorite: {{ note.is_favorite }}</span>
    </div>
    <div>
        <span>Author: {{ note.created_by }}</span>
    </div>
    <div>
        <span>Created on: {{ note.created_on }}</span>
    </div>
        <form method="post" action="{% url 'notekeeper:delete_note' %}" >
            {% csrf_token %}
            <input type="hidden" name="note_id" value="{{ note.id }}">
            <button type="submit">DELETE</button>
        </form>

        <form method="post" action="{% url 'notekeeper:update_note' note_id=note.id %}" >
            {% csrf_token %}
            <input type="hidden" name="note_id" value="{{ note.id }}">
            <button type="submit">UPDATE</button>
        </form>

        <form method="post" action="{% url 'notekeeper:publish_note' %}" >
            {% csrf_token %}
            <input type="hidden" name="note_id" value="{{ note.id }}">
            <button type="submit"> Publish </button>
        </form>


{% endblock content %}