{% extends 'notekeeper/base.html' %}

{% block title %} Note {{note.header}} {% endblock %}

{% block sidebar %}{% endblock sidebar%}

{% block content %}

<div class="blog-post" style="word-wrap: break-word";>
        <h2 class="blog-post-title">{{ note.header }}</h2>
        <p class="blog-post-meta">
            {% if note.is_favorite %}<span class="glyphicon glyphicon-star" style="color:orange"></span>{% endif %}
            {{ note.created_on }} by {{ note.created_by }}
        </p>

    <p>{{ note.body | safe }}</p>

</div>






{% endblock content %}