{% extends 'notekeeper/base.html' %}

{% block title %} Note {{note.header}} {% endblock %}

{% block sidebar %}{% endblock sidebar%}

{% block content %}
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-6">
        <h1>{{ note.header }}</h1>
        </div>
      </div>

     <div class="row">
        <div class="col-sm-6">
          <p>{{ note.body }}</p>
        </div>
     </div>

     <div class="row">
        <div class="col-sm-6">
          <p>{{ note.is_favorite }}</p>
        </div>
     </div>

    <div class="row">
        <div class="col-sm-6">
            <span>Author: {{ note.created_by }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <span>Created on: {{ note.created_on }}</span>
        </div>
    </div>

</div>


{% endblock content %}